/* Custom styles for MoviePoster component */
.movie-card-bg {
    background-size: cover;
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .movie-header {
        width: 60%;
    }
    .movie-desc {
        width: 50%;
    }
    .info-section {
        background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }
    .blur-back {
        width: 80%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie-card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }
    .blur-back {
        width: 100%;
        background-position: 50% 50% !important;
    }
    .movie-header {
        width: 100%;
        margin-top: 85px;
    }
    .movie-desc {
        width: 100%;
    }
    .info-section {
        background: linear-gradient(to top, #141413 50%, transparent 100%);
        display: inline-grid;
    }
}
